*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
}
/* Navigation */
nav{
    float: right;
}
nav a{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration-line: none;
    margin: 0px 10px 0px 10px;
}
nav a:hover{
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.863);
}
nav button{
    background-color: rgb(17, 91, 252);
    color: white;
    font-size: 12px;
    padding: 8px 13px 8px 13px;
    text-decoration: none;
    border:none;
    border-radius: 3px;
}
nav button:hover{
    background-color: rgb(49, 113, 252);
}
.nav-bar{
    margin: 20px;
}
/* Content */
.content-container{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    margin-top: -100px; /* half of height */
    width: 400px;
    margin-left: -200px; /* half of width */
}
#centered{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.centered-img{
    background-color: white;
    margin-bottom: 25px;
}
.input_container{
    background-color: white;
    width: 600px;
    height: 40px;
    border-radius: 30px;
    border: .1px solid rgba(0, 0, 0, 0.137);
    display: flex;
    justify-content: center;
}
div input{
    margin: 0px 40px 0px 40px;
    width: 500px;
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
}
/* Footer */
footer {
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.397);
    bottom: 0px;

}
.rcl{
    margin-left: 50px;
    padding: 10px;
    float: left;
}
.rcl a{
    font-size: 14px;
    margin:0px 20px 0px 20px;
    color: rgba(0, 0, 0, 0.932);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rcr{
    margin-right: 50px;
    padding: 10px;
    float: right;
}
.rcr a{
    font-size: 14px;
    margin:0px 20px 0px 20px;
    color: rgba(0, 0, 0, 0.932);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rcl a:hover{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.788);
}
.rcr a:hover{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.788);
}